*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Fraunces', serif;
  
  @media(max-width: 800px) {
      // font-size: 90%;
  }
}

body {
  margin: 0;

  p, button {
    font-size: 1.5rem;
  }
}

.header {
  background: url(https://images.pexels.com/photos/1327503/pexels-photo-1327503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: top;
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  @media(max-width: 800px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1{ 
    font-size: 10rem;
    width: 50%;
    color: white;
    font-family: 'Fraunces', serif;
    
    @media(max-width: 800px) {
      font-size: 4rem;
      width: 100%;
      text-align: center;
    }
  }
  
  h2, p, input {
    font-family: 'Fraunces', serif;
  }
}

.container {
  border-radius: 1rem;
  min-height: 100vh;
  background-color: #ffffffba;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  @media(max-width: 800px) {
    width: 100%;  
  }

  .image-gallery {
    width: 80%;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    position: relative;
    background: rgba(219, 245, 255, 0.25);
    
    @media(max-width: 500px) {
      margin: 5rem auto !important;
    }

    @media(max-width: 1200px) {
      padding: 6rem 1rem 1rem 1rem;
      width: 90%;
    }
    
  
    .image-option {
      border-radius: 0.5rem;
      width: 200px;
      height: 300px;
      margin: 1rem;
      cursor: pointer;
      transition: all 0.5s ease;

      @media(max-width: 800px) {
        width: 100px;
        height: 150px;
      }

      @media(max-width: 400px) {
        width: 95px;
        height: 140px;
      }

      &:hover {
        transform: scale(1.1);
      }
    }

    .step-one-container {
      position: absolute;
      // border: 2px solid red;
      top: -40px;
      left: 50%;
      transform: translateX(-50%);
      padding: 0rem 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: rgb(256,256,256);
      border-radius: 4rem;
      box-shadow: 0px 0px 30px rgba(0,0,0,0.2);

      h2 {
        width: fit-content;
      }

      p {
        border-radius: 50%;
        border: 4px solid white;
        width: fit-content;
        padding: 1rem 1.5rem;
        margin-right: 1rem;
        background: rgb(0,0,0);
        color: white;
      }
    }
  }
}

.image-editor-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  min-height: 100vh;
  padding: 8rem 6rem;
  background: rgba(219, 245, 255, 0.25);
  margin: 0rem auto;
  
  @media(max-width: 1200px) {
    padding: 8rem 2rem 3rem 2rem;
    width: 90%;
  }
  
  .step-two-container {
    position: absolute;
    // border: 2px solid red;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(256,256,256);
    border-radius: 4rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    
    h2 {
      width: fit-content;
    }
    
    p {
      border-radius: 50%;
      border: 4px solid white;
      width: fit-content;
      padding: 1rem 1.25rem;
      margin-right: 1rem;
      top: 0;
      left: -30px;
      background: rgb(0,0,0);
      color: white;
    }
  }
}

.final-step {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;
  width: 80%;

  p {
    border-radius: 50%;
    border: 4px solid white;
    width: fit-content;
    padding: 1rem 1.25rem;
    margin-right: 1rem;
    top: 0;
    left: -30px;
    background: rgb(0,0,0);
    color: white;

    @media(max-width: 500px) {
      font-size: 1rem;
    }
  }
}

#main-image {
  width: 600px;
  object-fit: cover;
  
  @media(max-width: 800px) {
    width: 350px;
  }

  @media(max-width: 400px) {
    width: 250px;
  }
}

.slider-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;

  .slider-container-item {
    width: 100%;
    // height: 10%;
    margin: 0 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p {
      width: 50%;
      font-size: 2rem;
      margin-right: 1rem;

      @media(max-width: 800px) {
        font-size: 1rem !important;
      }
    }
  }

  .slider {
    width: 100%;
    cursor: pointer;
  }
  
  .reset-button {
    margin: 3rem 0rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0);
    border: 2px solid black;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem 2rem;

    @media(max-width: 800px) {
      font-size: 1rem !important;
    }

    &:hover {
      // transform: scale(1.2);
    }
  }


}

