*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: 'Fraunces', serif;
  @media(max-width: 800px) {
    font-size: 90%;
  }
}

body {
  margin: 0;

  p, button {
    font-size: 1.5rem;
  }
}

.header {
  background: url(https://images.pexels.com/photos/1327503/pexels-photo-1327503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-position: top;
  background-size: cover;
  width: 100%;
  min-height: 40vh;
  padding: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1{ 
    font-size: 5rem;
    width: 50%;
    // border: 2px solid red;
    color: white;
    font-family: 'Fraunces', serif;
  }
  
  h2, p, input {
    font-family: 'Fraunces', serif;
  }
}

.container {
  border-radius: 1rem;
  height: 100vh;
  width: 100vw;
  background-color: #ffffffba;
  width: 80%;
  margin: 1rem auto;

  .image-gallery {
    width: 80%;
    margin: 10rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 6rem 0rem;
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 2rem;
    position: relative;
    background: rgba(203, 241, 255, 0.25);
  
    .image-option {
      border-radius: 0.5rem;
      width: 15%;
      margin: 1rem;
      cursor: pointer;
      transition: all 0.5s ease;

      &:hover {
        transform: scale(1.1);
      }
    }

    .step-one-container {
      position: absolute;
      // border: 2px solid red;
      top: -40px;
      left: 20px;
      padding: 0rem 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background: rgb(256,256,256);
      border-radius: 4rem;
      box-shadow: 0px 0px 30px rgba(0,0,0,0.2);

      h2 {
        width: fit-content;
      }

      p {
        border-radius: 50%;
        border: 4px solid white;
        width: fit-content;
        padding: 1rem 1.5rem;
        margin-right: 1rem;
        background: rgb(0,0,0);
        color: white;
      }
    }
  }
}

.main-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  height: 100vh;
  width: 100%;
  padding: 4rem;
  background: rgba(255, 0, 0, 0.35);
  margin: 10rem 0rem;

  .step-two-container {
    position: absolute;
    // border: 2px solid red;
    top: -40px;
    left: 20px;
    padding: 0rem 2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: rgb(256,256,256);
    border-radius: 4rem;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);

    h2 {
      width: fit-content;
    }

    p {
      border-radius: 50%;
      border: 4px solid white;
      width: fit-content;
      padding: 1rem 1.25rem;
      margin-right: 1rem;
      top: 0;
      left: -30px;
      background: rgb(0,0,0);
      color: white;
    }
  }
}

.final-step {
  padding: 2rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0rem;

  p {
    border-radius: 50%;
    border: 4px solid white;
    width: fit-content;
    padding: 1rem 1.25rem;
    margin-right: 1rem;
    top: 0;
    left: -30px;
    background: rgb(0,0,0);
    color: white;
  }
}

#main-image {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.slider-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: fit-content;

  .slider-container-item {
    width: 100%;
    height: 10%;
    margin: 0 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
  
    p {
      width: 50%;
      font-size: 2rem;
    }
  }

  .slider {
    width: 100%;
    cursor: pointer;
  }
  
  .reset-button {
    margin: 1rem;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0);
    // width: 10%;
    border: 2px solid black;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
    outline: none;
    cursor: pointer;
    transition: all 0.5s ease;
    padding: 0.5rem 2rem;

    &:hover {
      filter: invert(1);
    }
  }


}

